[Desktop Entry]
Encoding=UTF-8
Name=Cosmoscoin
Comment=Cosmoscoin P2P Cryptocurrency
Comment[fr]=Cosmoscoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Cosmoscoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/cosmoscoin-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/cosmoscoin80.xpm
MimeType=x-scheme-handler/cosmoscoin;
Categories=Office;
